@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dropbars {
  @apply dropdown-hover !important;
}

@media screen and (max-width: 940px) {
  .dropbars {
    @apply dropdown;
  }
  .res {
    @apply hidden  text-[0px] min-h-[0px] min-w-[0px] overflow-clip;
  }

  .sz {
    @apply mx-2;
  }

  .nasp {
    @apply mx-10;
  }

  .space {
    @apply justify-end;
  }

  .sx {
    @apply text-sm;
  }

  .col {
    @apply flex-row text-sm;
  }
}
@media screen and (max-width: 1060px) {
  .hd {
    @apply hidden;
  }
}
@media screen and (min-width: 638px) {
  .msz {
    @apply hidden;
  }
}

.blob {
  width: 350px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(
    120deg,
    rgba(127, 17, 224, 0.42) 61.77%,
    #5865f2 100%
  );
  position: absolute;
  top: 15%;
  left: 65%;
  filter: blur(100px);
}

.blob1 {
  width: 200px;
  z-index: 2;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(
    1800deg,
    rgba(127, 17, 204, 0.42) 21.77%,
    #5865f2 100%
  );
  position: absolute;
  top: 20%;
  left: 10%;
  filter: blur(150px);
}

.blob2 {
  width: 300px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(
    250deg,
    rgba(127, 17, 224, 0.42) 61.77%,
    #5865f2 100%
  );
  position: absolute;
  top: 20%;
  left: 10%;
  filter: blur(100px);
}

.center {
  @apply flex justify-center;
}
